

<div class="container" id ="home-container">
<div class="py-5  color-light text-center text-white border-bottom" id ="home-img">
    <div class="home-content">
      <div class="row">
        <div >
          <h1 class="bd-title text-center mt-0">ALPHA BLOG</h1>
          <p class="bd-lead">Quickly get a project started with any of our examples ranging from using parts of the framework to custom components and layouts.</p>
          <div class=" flex-column flex-sm-row">
          <%= link_to "Sign up!",signup_path,class:"text-center btn btn-success btn-lg " %>  
     
          </div>
        </div>
    </div>
  </div>
</div>
</div>

